.search-bar {
    margin-bottom: 0.75rem;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .search-input-container {
    display: flex;
    align-items: center;
    background: var(--card-bg);
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    overflow: hidden;
    width: 100%;
    height: 48px;
  }
  
  .search-input {
    flex: 1;
    padding: 0 0.75rem;
    /* min-width: 90px; */
    min-width: 0;
    border: none;
    background: transparent;
    color: var(--text-color);
    font-size: 0.95rem;
    height: 100%;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .search-button {
    height: 100%;
    width: clamp(20px, 15%, 90px);
    background: var(--primary-color);
    color: var(--text-color-dark);
    border: none;
    border-left: 1px solid var(--border-color);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, transform 0.15s;
  }

  .search-input::placeholder {
    color: var(--text-color);
    opacity: 0.6;
  }
  
  .search-button:hover:not(:disabled) {
    background: var(--primary-color-hover);
    transform: translateY(-1px);
  }
  
  .search-button:active:not(:disabled) {
    transform: translateY(0);
  }
  
  .search-button:disabled,
  .search-input:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  /* @media (max-width: 640px) {
    .search-bar {
      padding: 0 1rem;
    }
  
    .search-input-container {
      height: 42px;
    }
  
    .search-button {
      font-size: 1rem;
    }
  } */
  @media (max-width: 400px) {
    /* .search-button {
      width: 20px;
      font-size: 0;
      padding: 0;
    } */
  
    .search-button::before {
      font-size: 1.1rem;
    }
  }
  